.card {
	height: 75px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid black;
	margin-right: 4px;
	display: inline-block;
}

th {
	text-align: left;
}

td {
	padding-right: 100px;
}

.greenBorder {
	border: 2px solid green;
}